body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1b2f7a, 
     #6a0d73);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #f6d8d8;
    border-radius: 5px;
    color: #ccc;

}

input[type="text"] {
    width: calc(100% - 200px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}


button {
    padding: 10px 12px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: #02f8a2;
    color: rgb(251, 251, 251);
    border: none;
    cursor: pointer;
    border-radius: 13px;
    font-size: 14px;
}

button:hover {
    background-color: #12f47fdd;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.delete-btn {
    background-color: #f44336;
    color: rgb(255, 252, 252);
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #da190b;
}
